<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="../src/css.css" rel="stylesheet">

</head>
<body>

<div ng-controller="sampleCtrl">
    <button data-placement="left" ng-click="open($event)">open</button>
    <p>ddddd</p>
    <p>ddddd</p> <p>ddddd</p> <p>ddd  <button data-placement="left" ng-click="open($event)">open</button>  <button data-placement="right" ng-click="open($event)">open right</button>dddffffffffffffddddddffffffffffffddddddffffffffffffddddddffffffffffffddddddffffffffffff  <button data-placement="left" ng-click="open($event)">open</button>  <button data-placement="left" ng-click="open($event)">open</button>  <button data-placement="right" ng-click="open($event)">open right</button>  <button data-placement="left" ng-click="open($event)">open</button>  <button data-placement="left" ng-click="open($event)">open</button>  <button data-placement="left" ng-click="open($event)">open</button></p> <p>ddddd</p> <p>ddddd</p> <button data-placement="left" ng-click="open($event)">open</button><p>ddddd</p> <p>ddddd</p> <p>ddddd</p> <p>ddddd</p> <p>ddddd</p> <p>ddddd</p>
    <p>ddddd</p> <p>ddddd</p> <p>ddddd</p> <p>ddddd</p> <p>ddddd</p> <p>ddddd</p> <p>ddddd</p> <p>ddddd</p>
    <button data-placement="bottom" ng-click="open($event)">open</button>
</div>
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>

<script src="../src/pbox.js"></script>
<script>
    var app = angular.module("app", ["wt.pbox"]);
    app.controller("sampleCtrl", ["$scope", "$pbox", function ($scope, $pbox) {
        var pbox = null;
        $scope.open = function ($event) {
            pbox = $pbox.open({
                event     : $event,
                templateUrl:"box.html",
                //template  : '<div><a>ssss111111 {{aaa}}</a> dddd <button ng-click="add()">click</button></div>',
                controller: function ($scope,$pboxInstance) {
                    $scope.aaa = "sss";
                    $scope.add = function () {
                        $scope.aaa = "bbbbbb";
                    }
                }
            });
        };
        $scope.close = function () {
            pbox.close();
        }
    }]);

</script>
</body>
</html>